:root {
  font-family: "Arial", Helvetica, sans-serif;
  line-height: 1.4;
  font-weight: 400;
  color: #1f1f1f;
  background-color: #f5f5f5;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  width: 100%;
  background: #f5f5f5;
}

#root {
  height: 100vh;
  width: 100vw;
}

button {
  font-family: inherit;
}
